

.border-custom-green {
    border-color: #00cd00 !important;
}

.text-custom-green {
    color: #00cd00 !important;
}

.border-custom-red {
    border-color: #ff0000 !important;
}

.text-custom-red {
    color: #ff0000 !important;
}